.LoginForm {
	margin-top: 15%;
	background: lightblue;
	box-shadow: 8px 8px 10px 0px #ffd0d0;
}
td {
	padding: 5px;
}
body {
	background: url("img/50-Beautiful-and-Minimalist-Presentation-Backgrounds-04.jpg") !important;
}